.box{
    border:0.5px solid grey;
    margin:15px;
    border-radius: 5px;
}



.visitor{
    margin:20px 15px 20px 15px;
}

.host{
    margin:20px 15px 20px 15px;
}

h4{
    color:black;
    font-size: 15px;
    margin:4px 15px 4px 8px; 
}

.button{
    margin-left:auto;
    margin-right:auto;
    width:130px;
    //margin-top:15px;
    display: block;
}

.button1{
    margin-left:auto;
    margin-right:auto;
    width:170px;
    //margin-top:15px;
    display: block;
}